.gameBoard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    padding: 10px;
    gap: 5px;
    border: 2px solid black;
    border-radius: 10px;
}
